/* Positioning for Kitty 1 */
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 300px; /* Adjust the top position as needed */
  left: 150px; /* Adjust the left position as needed */
}

/* Positioning for Kitty 2 */
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 300px; /* Adjust the top position as needed */
  left: 250px; /* Adjust the left position as needed */
}

/* Positioning for Kitty 3 inside the basket */
#basket {
  position: absolute;
  z-index: 3;
  top: 60px; /* Adjust the top position as needed */
  left: 250px; /* Adjust the left position as needed */
}

/* Positioning for Kitty 4 (sibling of #ball) */
img {
  position: absolute;
  top: 200px; /* Adjust the top position as needed for approximately one meter */
  left: 200px; /* Adjust the left position as needed */
}


/* Positioning for Kitty 5 */
img[src="images/kitty-5.png"][alt="Kitty 5"] {
  top: 180px; /* Adjust the top position as needed for about 0.5 meters */
  left: 300px; /* Adjust the left position as needed */
  z-index: 1;
}

